.playlist-item {
    list-style-type: none;
    text-decoration: none;
    width: 100%;
}

.playlist-item:hover .playlist-title {
    color: #fff;
}

.playlist-title {
    color: #616161;
    font-size: 12px;
    margin: 5px 0;
    transition: 0.1s ease-in-out all;
}

.playlist-item-anchor {
    text-decoration: none;
}