textarea {
  font-family: 'Montserrat', sans-serif;
  padding-left: 10px;
  resize: none;
}

.new-playlist {
  background-color: #2c2c2c;
  height: 100%;
  width: 45vw;
}

.new-playlist__title {
  background-color: #363636;
  border-bottom: 1px solid #424242;
  color: #f5f5f5;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  font-size: 14px;
  font-weight: 100;
}

.new-playlist__name__wrapper {
  padding: 0 10px;
  margin-bottom: 15px;
}

.new-playlist__text {
  display: block;
  color: #b2b2b2;
  font-size: 12px;
  margin-bottom: 5px;
  width: 100%;
}

.new-playlist__name__input {
  border: 0;
  height: 30px;
  padding-left: 10px;
  padding-right: 75px;
  width: calc(100% - 10px);
}

.new-playlist__input__wrapper {
  display: flex;
  align-items: center;
}

.new-playlist__count {
  background-color: #4986d5;
  border-radius: 10px;
  color: #fff;
  font-size: 12px;
  padding: 0 10px;
  position: absolute;
  right: 20px;
  text-align: center;
  width: 40px;
}

.new-playlist-section {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 50px;
  padding-left: 10px;
  padding-right: 10px;
}

.new-playlist__image-wrapper {
  background: url('../../static/note.png');
  background-size: contain;
  filter: grayscale(1);
  display: flex;
  flex-wrap: wrap;
  width: 33%;
}

.new-playlist__description-wrapper {
  width: 66%;
}

.new-playlist__description-input {
  height: 200px;
  width: 100%;
}

.new-playlist__button {
  align-self: flex-end;
  background-color: #222;
  border: 1px solid #b0b0b0;
  color: #fff;
  border-radius: 20px;
  font-size: 10px;
  letter-spacing: 1px;
  padding: 10px 45px;
  text-transform: uppercase;
}

.new-playlist__button:hover {
  border: 1px solid #fff;
  transform: scale(1.04, 1.04);
}

.new-playlist__button--green {
  align-self: flex-end;
  background-color: #24b855;
  border: none;
  color: #fff;
  border-radius: 20px;
  font-size: 10px;
  letter-spacing: 1px;
  margin-left: 20px;
  padding: 11px 46px;
  text-transform: uppercase;
}

.new-playlist__button--green:hover {
  background-color: #26d660;
  transform: scale(1.04, 1.04);
}

.new-playlist__buttons-wrapper {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}